.container-body {
   max-width: 1440px;
   margin: 17px 42px;
}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom: 20px;
}

.button {
   margin-left: 14px;
   background-color: #FFFFFF;
   color: #6950FF;
   border: 2px solid #6950FF;
   border-radius: 8px;
   width: 84px;
   height: 42px;
   font-family: inter;
   font-size: 16px;
   line-height: 19px;
}

.button-blue {
   background-color: #6950FF;
   color: #FFFFFF;
   width: 147px;
   height: 42px;
}

.footer-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: #1E2B35;
   color: #FFFFFF;
}

.column-left {
   margin-top: 32px;
   margin-left: 42px;
   margin-bottom: 32px;
}

.logo-footer {
   margin-bottom: 42px;
}

.column-right {
   display: flex;
   margin-top: 32px;
}

li {
   list-style-type: none;
   margin-bottom: 15px;
}

.column-first {
   margin-right: 156px;
}

.column-second {
   margin-right: 141px;
}